<ion-header>
  <ion-navbar>
    <ion-title class="encabezado">
      SeoK
    </ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openAlertNewTask()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item *ngIf="tasks.length == 0"> 
          Empty
        </ion-item>
       <ion-item-sliding *ngFor="let task of tasks; let i = index">
         <ion-item >
           <ion-label>{{ task.title }}</ion-label>
           <ion-checkbox (ionChange)="updateTask( task, i )" [checked]="task.completed"></ion-checkbox>
         </ion-item>
         <ion-item-options side="right" icon-left>
           <button ion-button color="danger" (click)="deleteTask(task, i)">
             <ion-icon name="trash"></ion-icon>
             Delete
           </button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>
  <div class="contenido">
    <div class="logo-SeoK">
        <img class="img-logo" src="../../assets/imgs/Logo-SeoK.png">
    </div>
    <ion-card>
      <ion-card-content>
          <ion-item>
            <ion-input [(ngModel)]="usuario" placeholder="Usuario"></ion-input>
          </ion-item>
          <ion-item *ngIf="alertas[0]">
              <span item-start class="alerta">{{msj_obligatorio}}</span>
            </ion-item>
          <ion-item>
            <ion-input [(ngModel)]="contrasena" type="password" placeholder="Contraseña"></ion-input>
          </ion-item>
          <ion-item *ngIf="alertas[1]">
              <span item-start class="alerta">{{msj_obligatorio}}</span>
            </ion-item>

          <div class="botones">
              <button class="boton" ion-button (click)="AlertInicio()">INGRESAR</button>
              <button class="boton" ion-button (click)="AlertRegistro()">REGISTRARME</button>              
          </div>
          <div class="recuperar">
              <label (click)="showAlertRecuperar()">RECUPERAR CONTRASEÑA</label>
          </div>     
          
      </ion-card-content>    
    </ion-card>
    
  </div>
  <!--
  <div class="accesos">
    <div class="acceso">
        <button ion-button round>
          <ion-icon name="call"></ion-icon>
        </button>
    </div>
    <div class="acceso">
        <button ion-button round>
          <ion-icon name="barcode"></ion-icon>
        </button>
    </div>
    <div class="acceso">
        <button ion-button round>
          <ion-icon name="contacts"></ion-icon>
        </button>
    </div>    
  </div>  -->

</ion-content>
