<ion-header>
  <ion-navbar>
    <ion-title class="encabezado">
      Ionic con BD SQLite
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  prueba bd
<!--
  <ion-list>
        <ion-item *ngIf="tasks.length == 0"> 
          Empty
        </ion-item>
       <ion-item-sliding *ngFor="let task of tasks; let i = index">
         <ion-item >
           <ion-label>{{ task.title }}</ion-label>
           <ion-checkbox (ionChange)="updateTask( task, i )" [checked]="task.completed"></ion-checkbox>
         </ion-item>
         <ion-item-options side="right" icon-left>
           <button ion-button color="danger" (click)="deleteTask(task, i)">
             <ion-icon name="trash"></ion-icon>
             Delete
           </button>
         </ion-item-options>
       </ion-item-sliding>
     </ion-list>
-->
</ion-content>
